<mat-card
  *ngIf="student$ | async as student"
  class="d-flex justify-content-center"
>
  <mat-card-header>
    <mat-card-title>
      Alumno: <b>{{ student.firstName }} {{ student.lastName }}</b> 
    </mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Información</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="student$ | async as student">
          <tr>
            <td>ID Alumno</td>
            <td>{{ student.id }}</td>
          </tr>
          <tr>
            <td>Correo Electrónico</td>
            <td>{{ student.email }}</td>
          </tr>
          <tr>
            <td>Año de Ingreso</td>
            <td>{{ student.anoIngreso }}</td>
          </tr>
          <tr>
            <td>Cursos Inscritos</td>
            <td>
              <mat-list role="list" *ngFor="let course of student.courses">
                <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>Código: {{course.id}}</span>
                      <span matListItemLine>Nombre: {{course.name}}</span>
                      <span matListItemLine>Instructor: {{course.instructor}}</span>
                      <span matListItemLine>Fecha de Inicio: {{course.startDate | date: 'dd/MM/yyyy'}}</span>
                    </mat-list-item>
                  </mat-list>
              </mat-list>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
