
<div class="d-flex justify-content-end mb-3">
  <button (click)="openDialog()"
mat-button color="primary">
    Crear usuario <mat-icon>person_add</mat-icon>
  </button>
</div>

<table id="custom-table" class="d-flex mat-elevation-z8 table-hover" mat-table [dataSource]="students" class="mat-elevation-z8">

  
    <!--ID Column -->
    <ng-container 
    matColumnDef="id">
      <th 
      mat-header-cell 
      *matHeaderCellDef> ID 
    </th>
      <td 
      mat-cell 
      *matCellDef="let student"> 
      #{{student.id}} 
    </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container 
    matColumnDef="firstName"
    >
      <th 
      mat-header-cell 
      *matHeaderCellDef> Nombre 
    </th>
      <td 
      mat-cell 
      *matCellDef="let student"> 
      {{student.firstName}} 
    </td>
    </ng-container>
  

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
      </ng-container>
    

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let student"> {{student.email}} </td>
    </ng-container>
    

    <!-- Calificación Column -->
    <ng-container matColumnDef="anoIngreso">
        <th mat-header-cell *matHeaderCellDef> Año de Ingreso </th>
        <td mat-cell *matCellDef="let student"> {{student.anoIngreso}} </td>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let student">
          <button mat-icon-button color="primary" (click)="openDialog(student)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteStudent(student.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row-hover"></tr>
  </table>
  
  