<mat-card >
    <mat-card-header class="justify-content-center">
         <h6 mat-card-tittle>Inscripciones</h6>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="row d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center"  *ngIf="cursos$ | async; let cursos">
            <br>
            <mat-form-field>
              <mat-label>Seleccione un Curso</mat-label>
              <mat-select>
                  <mat-option *ngFor="let curso of cursos" [value]="curso.code">
                  {{curso.name}}
                  </mat-option>
              </mat-select>
              
            </mat-form-field>
            
          </div>
          </mat-card-content>
    <mat-card-content class="row d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center" *ngIf="alumnos$ | async; let alumnos">
              <mat-form-field>
                <mat-label>Seleccione un Alumno</mat-label>
                <mat-select>
                    <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">
                    {{alumno.firstName}} {{alumno.lastName}}
                    </mat-option>
                </mat-select>
                
              </mat-form-field>
            </div>
    </mat-card-content>
    
      <mat-card-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="inscribirAlumno()" > Inscribir Alumno</button>
      </mat-card-actions>
</mat-card>
