<!-- TOOLBAR  -->
<div class="toolbar-container">
  <mat-toolbar class="custom-toolbar">
    <div class="example-button-container">
      <button
        (click)="drawer.toggle()"
        mat-mini-fab
        class="menu-button"
        aria-label="menu icon"
      >
        <mat-icon class="menu-button-icon">menu</mat-icon>
      </button>
    </div>

    <span style="color: white">Panel de Administración</span>
  </mat-toolbar>
</div>
<mat-drawer-container class="custom-mat-drawer-container" autosize>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a routerLink="home"
        (click)="drawer.mode === 'over' && drawer.toggle()"
        class="custom-matlist-item-hover"
        mat-list-item
      >
        <mat-icon matListItemIcon>home </mat-icon>
        Inicio
      </a>
      <a routerLink="alumnos"
        (click)="drawer.mode === 'over' && drawer.toggle()"
        class="custom-matlist-item-hover"
        mat-list-item
      >
        <mat-icon matListItemIcon>people</mat-icon> Alumnos
      </a>
      <a routerLink="cursos"
        (click)="drawer.mode === 'over' && drawer.toggle()"
        class="custom-matlist-item-hover"
        mat-list-item
      >
        <mat-icon matListItemIcon>book</mat-icon> Clases
      </a>
    </mat-nav-list>
  </mat-drawer>

  <main style="padding: 1rem">

    <router-outlet></router-outlet>

  </main>
</mat-drawer-container>
