.custom-toolbar {
    background-color: black;
}

.custom-matlist-item-hover {
    transition: background-color 0.5s ease;
    font-weight: bold ;
}

.custom-matlist-item-hover:hover {
    
    background-color: lightgray; 
}


.example-container {
    background-color: lightgray;
}

